pre.ebnf-wrapper {
  box-sizing: border-box;
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 13.6px;
  margin-top: 0px;
  margin-bottom: 16px;
  word-wrap: normal;
  padding: 16px;
  overflow: auto;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
  color: #24292e;
  font-weight: 400;
}

code.ebnf {
  box-sizing: border-box;
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 13.6px;
  margin: 0px;
  background-image: initial;
  border-radius: 3px;
  word-break: normal;
  white-space: pre;
  border: 0px;
  display: inline;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
}